<table>
    <tbody>
    <tr>
      <th>OWA Host</th>
      <td><input type="text" id="settings_owa_host"
                 value="<%= settings['owa_host'] %>"
                 name="settings[owa_host]" >
    </tr>
    </tbody>
</table>